footer {

    background-color: bisque;
    color: maroon;
    margin-top: 100px;
    
}

.gambar-kucing {

 width:130px; height: auto;


}

#my-pagination .pagination {
    text-align: center !important;
    display: block;
}

 .pagination li {
   display: inline ;
}

#my-pagination .pagination li.active {

} 

#my-pagination .pagination li.active a {
    border :1px solid blanchedalmond;
    color: aliceblue;
    background-color: blue;
}

#my-pagination .pagination li a {
    border :1px solid blanchedalmond;
    background-color: aliceblue;
    color: black;
    display: inline-block;
    padding-left:10px; padding-right: 10px;
     height: 30px;
    border-radius: 4px;
}

#my-pagination .pagination li a:hover {
    text-decoration: none;
    border :1px solid blanchedalmond;
    color: aliceblue;
    background-color: blue;
   
}