
.hero-area {

   
padding-top: 90px;
background: rgb(252,233,199);
background: linear-gradient(90deg, rgba(252,233,199,1) 30%, rgba(255,189,189,1) 78%);
min-height: 270px;

}

footer {

    background-color: bisque;
    color: maroon;
    
}